* {
    box-sizing: border-box;
    margin: 0;
}

.isDisabled {
    color: currentColor;
    display: inline-block;  /* For IE11/ MS Edge bug */
    pointer-events: none;
    text-decoration: none;
  }


