{% extends 'base_layout.html' %}

{% block content %}
    <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div>
        <div class="row valign-wrapper">
            <div class="col s3">
                <img src="https://englishshepherd.files.wordpress.com/2014/12/bonnie-5-weeksweb.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s9">
                <h3>{{ request.user.username }}</h3>
                <div class="divider"></div>
                <p>Phone: {{con.phone}}</p>
                <p>Email: {{con.email}}</p>
                <p>Linkedin: {{con.linkedin}}</p>
                <p>Github: {{con.github}}</p>
            </div>
        </div>
        </div>
    </div>
    <div class="row">
        <div class="section">
            <h5>Education</h5>
            <div class="divider"></div>
            <div>
                {% for e in edu %}
                    <h6>{{e.institute}}</h6>
                    <p>Passed: {{e.passed}}</p>
                    <p>Grade: {{e.score}}</p>
                <div class="divider"></div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="section">
            <h5>Experiences</h5>
            <div class="divider"></div>
            <div>
                {% for e in exp %}
                <h6>{{e.role}}</h6>
                <p>{{e.detail}}</p>
                <div class="divider"></div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="section">
            <h5>Skills</h5>
            <div class="divider"></div>
            <div>
                {% for s in skill %}
                <h6>{{s.skill}}</h6>
                <p>Strength: {{s.strength}}</p>
                <div class="divider"></div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}